<!DOCTYPE html>
<html>

<head>
    <title>Chat App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dex.css') }}">
</head>

<body>
    <div class="card">
        <h1>Make Friends</h1>

        <h3>Hi {{ current_user.username }}!</h3>
        <div class="btn">
            <a href="{{ url_for('logout') }}">Logout</a>
            <br><br>

            <a href="{{ url_for('create_room') }}">
                Create Room
            </a>
        </div>

        <hr>

        <ul>
            {% for room in rooms %}
            <li>
                <a href="/rooms/{{ room.room_id_str }}/">
        {{ room.room_name }}
    </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>